<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.ultrapower.database.mapper.DataBaseMapper">
    <!--查询mysql库中所有的表/如果有tableName是查询该库下是否存在某表-->
    <!-- datahouse: select name from `system`.tables WHERE database='analysisplatform'-->
    <select id="selectTables" resultType="String" parameterType="java.util.Map">
        SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE 1=1
        <if test="databaseName!=null and databaseName!=''">
            AND TABLE_SCHEMA = #{databaseName}
        </if>
        <if test="tableName!=null and tableName!=''">
            AND TABLE_NAME = #{tableName}
        </if>
    </select>
    <!--<select id="selectTables" resultType="String" parameterType="java.util.Map">
        select name from `system`.tables WHERE 1=1
        <if test="databaseName!=null and databaseName!=''">
            AND database = #{databaseName}
        </if>
        <if test="tableName!=null and tableName!=''">
            AND TABLE_NAME = #{tableName}
        </if>
    </select>-->
    <!-- 查询mysql中的所有库名称-->
    <!-- datahouse:select name from `system`.databases-->
    <!-- 查询所有的库名或者是查询该库是否存在-->
    <select id="queryDatabaseName" resultType="String" parameterType="java.util.Map">
        SELECT SCHEMA_NAME FROM INFORMATION_SCHEMA.SCHEMATA WHERE  SCHEMA_NAME NOT IN ('information_schema','mysql','performance_schema')
    </select>
    <!--查询该连接下是否存在该数据库-->
    <select id="queryDatabaseIsExist" resultType="String" parameterType="java.util.Map">
        SELECT SCHEMA_NAME FROM INFORMATION_SCHEMA.SCHEMATA WHERE 1=1
        <if test="databaseName!=null and databaseName!=''">
           AND SCHEMA_NAME =#{databaseName}
        </if>
    </select>
    <!-- 查询mysql表中的所有字段-->
    <!-- datahouse: select name from `system`.columns WHERE database='analysisplatform' AND table='bs_analysis_mm'-->
    <select id="selectTableColumn" resultType="java.util.Map" parameterType="java.util.Map">
        <if test="tableName!=null and tableName!='' and dataBaseName!=null and dataBaseName!=''">
            SELECT COLUMN_NAME columnName,COLUMN_TYPE columnType,COLUMN_COMMENT columnComment FROM INFORMATION_SCHEMA.Columns
            WHERE table_name=#{tableName} and table_schema=#{dataBaseName}
        </if>
    </select>
    <!--<select id="selectTableColumn" resultType="java.util.Map" parameterType="java.util.Map">
        <if test="tableName!=null and tableName!='' and dataBaseName!=null and dataBaseName!=''">
           select name from `system`.columns WHERE
           database=#{dataBaseName} AND table=#{tableName}
           select name,`type` from `system`.columns WHERE database='visualizeplatform' AND table='bs_business_monitor'
        </if>
    </select>-->
    <!--查询mysql表的字段和属性-->
    <select id="selectTableColumnAttr" resultType="java.util.Map" parameterType="java.util.Map">
        <if test="tableName!=null and tableName!='' and databaseName!=null and databaseName!=''">
            SELECT COLUMN_NAME columnName,COLUMN_TYPE columnType,COLUMN_COMMENT columnComment FROM INFORMATION_SCHEMA.Columns
            WHERE table_name=#{tableName} and table_schema=#{databaseName}
        </if>
    </select>

    <!-- 查询mysql中支持字段类型-->
    <!-- datahouse select DISTINCT(type) FROM `system`.columns-->
    <select id="selectColumnType" resultType="String">
        select DISTINCT(DATA_TYPE) from information_schema.COLUMNS
    </select>
    <!-- 查询列表Demo版-->
    <select id="queryList" parameterType="java.util.Map"
            resultType="java.util.Map">
        SELECT
        *
        FROM
        ${tableName}
        WHERE 1= 1
        <if test="name!=null and name!=''">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="pagesize!=null and pagesize!=0">
            LIMIT #{page},#{pagesize}
        </if>
    </select>

    <select id="queryCount" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(pid) num FROM ${tableName}
        WHERE 1=1
        <if test="name!=null and name!=''">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <!--创建或者使用已经存在得数据库并创建表-->
    <update id="createDatabaseAndTable" parameterType="java.util.Map">
        ${executeSql}
    </update>
</mapper>


