<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--自动扫描控制器-->
    <context:component-scan base-package="cn.com.ultrapower.**.controller"/>
    <!--视图渲染-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/view"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:resources mapping="/file/**" location="/file/**"/>
    <mvc:resources mapping="/assets/**" location="/assets/**"/>
    <mvc:resources mapping="/**.css" location="/*.css"/>
    <!-- login拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.com.ultrapower.intercepter.ChkLoginIntercepter">
                <property name="allowUrls">
                    <list>
                        <value>/static/</value>
                        <value>/login</value>
                        <value>/checkUser</value>
                        <value>/login/</value>
                        <value>/menuicons/</value>
                        <value>/index</value>
                        <value>/</value>
                        <value>/getResponseData</value>
                    </list>
                </property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--  这里申明的id必须为multipartResolver  -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="2000000"/>
    </bean>
    <bean id="springBeanFactoryUtils" class="cn.com.ultrapower.utils.SpringBeanFactoryUtils"/>
    <!--控制器映射器和控制器适配器-->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                    </list>
                </property>
                <property name="features">
                    <list>
                        <value>WriteMapNullValue</value>
                        <value>QuoteFieldNames</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>

    </mvc:annotation-driven>

    <mvc:default-servlet-handler/>


</beans>