
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <script src="iconfont.js"></script>

    <style type="text/css">
        .icon {
          /* 通过设置 font-size 来改变图标大小 */
          width: 1em; height: 1em;
          /* 图标和文字相邻时，垂直对齐 */
          vertical-align: -0.15em;
          /* 通过设置 color 来改变 SVG 的颜色/fill */
          fill: currentColor;
          /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
          overflow: hidden;
        }

    </style>
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duigou"></use>
                    </svg>
                    <div class="name">对勾</div>
                    <div class="fontclass">#icon-duigou</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xuanxiang"></use>
                    </svg>
                    <div class="name">选项</div>
                    <div class="fontclass">#icon-xuanxiang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fangxingweixuanzhong"></use>
                    </svg>
                    <div class="name">方形未选中</div>
                    <div class="fontclass">#icon-fangxingweixuanzhong</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zuijan_form"></use>
                    </svg>
                    <div class="name">form</div>
                    <div class="fontclass">#icon-zuijan_form</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tishi"></use>
                    </svg>
                    <div class="name">提示</div>
                    <div class="fontclass">#icon-tishi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-danjiantouxia"></use>
                    </svg>
                    <div class="name">单箭头（下）</div>
                    <div class="fontclass">#icon-danjiantouxia</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xiugai"></use>
                    </svg>
                    <div class="name">修改</div>
                    <div class="fontclass">#icon-xiugai</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fangxingxuanzhong"></use>
                    </svg>
                    <div class="name">方形选中</div>
                    <div class="fontclass">#icon-fangxingxuanzhong</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tanhao"></use>
                    </svg>
                    <div class="name">叹号</div>
                    <div class="fontclass">#icon-tanhao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-danhangshurukuang"></use>
                    </svg>
                    <div class="name">符号-单行输入框</div>
                    <div class="fontclass">#icon-danhangshurukuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duohangshurukuang"></use>
                    </svg>
                    <div class="name">符号-多行输入框</div>
                    <div class="fontclass">#icon-duohangshurukuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shijianzhou"></use>
                    </svg>
                    <div class="name">符号-时间轴</div>
                    <div class="fontclass">#icon-shijianzhou</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shuangxiang"></use>
                    </svg>
                    <div class="name">双向</div>
                    <div class="fontclass">#icon-shuangxiang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-diannao"></use>
                    </svg>
                    <div class="name">电脑</div>
                    <div class="fontclass">#icon-diannao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-clear"></use>
                    </svg>
                    <div class="name">clear</div>
                    <div class="fontclass">#icon-clear</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xiugai1"></use>
                    </svg>
                    <div class="name">修改</div>
                    <div class="fontclass">#icon-xiugai1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shijian"></use>
                    </svg>
                    <div class="name">时间</div>
                    <div class="fontclass">#icon-shijian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-moban"></use>
                    </svg>
                    <div class="name">模板</div>
                    <div class="fontclass">#icon-moban</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-lingcunwei"></use>
                    </svg>
                    <div class="name">另存为</div>
                    <div class="fontclass">#icon-lingcunwei</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duanla"></use>
                    </svg>
                    <div class="name">段落</div>
                    <div class="fontclass">#icon-duanla</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pagination"></use>
                    </svg>
                    <div class="name">pagination</div>
                    <div class="fontclass">#icon-pagination</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_baocun"></use>
                    </svg>
                    <div class="name">图标_保存</div>
                    <div class="fontclass">#icon-tubiao_baocun</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_bukejian"></use>
                    </svg>
                    <div class="name">图标_不可见</div>
                    <div class="fontclass">#icon-tubiao_bukejian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_chexiao"></use>
                    </svg>
                    <div class="name">图标_撤销</div>
                    <div class="fontclass">#icon-tubiao_chexiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_caozuojilu"></use>
                    </svg>
                    <div class="name">图标_操作记录</div>
                    <div class="fontclass">#icon-tubiao_caozuojilu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_chuizhidengjianju"></use>
                    </svg>
                    <div class="name">图标_垂直等间距</div>
                    <div class="fontclass">#icon-tubiao_chuizhidengjianju</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_chuizhijuzhong"></use>
                    </svg>
                    <div class="name">图标_垂直居中</div>
                    <div class="fontclass">#icon-tubiao_chuizhijuzhong</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_diduiqi"></use>
                    </svg>
                    <div class="name">图标_底对齐-48</div>
                    <div class="fontclass">#icon-tubiao_diduiqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_daoru"></use>
                    </svg>
                    <div class="name">图标_导入</div>
                    <div class="fontclass">#icon-tubiao_daoru</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_daochu"></use>
                    </svg>
                    <div class="name">图标_导出</div>
                    <div class="fontclass">#icon-tubiao_daochu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_dasan"></use>
                    </svg>
                    <div class="name">图标_打散</div>
                    <div class="fontclass">#icon-tubiao_dasan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_diduiqi-1"></use>
                    </svg>
                    <div class="name">图标_底对齐-50</div>
                    <div class="fontclass">#icon-tubiao_diduiqi-1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_dingduiqi"></use>
                    </svg>
                    <div class="name">图标_顶对齐</div>
                    <div class="fontclass">#icon-tubiao_dingduiqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_duiqi"></use>
                    </svg>
                    <div class="name">图标_对齐</div>
                    <div class="fontclass">#icon-tubiao_duiqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_fabu"></use>
                    </svg>
                    <div class="name">图标_发布</div>
                    <div class="fontclass">#icon-tubiao_fabu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_fuwuqi"></use>
                    </svg>
                    <div class="name">图标_服务器</div>
                    <div class="fontclass">#icon-tubiao_fuwuqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_fanhui"></use>
                    </svg>
                    <div class="name">图标_返回</div>
                    <div class="fontclass">#icon-tubiao_fanhui</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_fuzhi"></use>
                    </svg>
                    <div class="name">图标_复制</div>
                    <div class="fontclass">#icon-tubiao_fuzhi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_jia"></use>
                    </svg>
                    <div class="name">图标_加</div>
                    <div class="fontclass">#icon-tubiao_jia</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_huishoutong"></use>
                    </svg>
                    <div class="name">图标_回收桶</div>
                    <div class="fontclass">#icon-tubiao_huishoutong</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_jian"></use>
                    </svg>
                    <div class="name">图标_减</div>
                    <div class="fontclass">#icon-tubiao_jian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_guanbi"></use>
                    </svg>
                    <div class="name">图标_关闭</div>
                    <div class="fontclass">#icon-tubiao_guanbi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_jianbiao"></use>
                    </svg>
                    <div class="name">图标_建表</div>
                    <div class="fontclass">#icon-tubiao_jianbiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_jiesuo"></use>
                    </svg>
                    <div class="name">图标_解锁</div>
                    <div class="fontclass">#icon-tubiao_jiesuo</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_kejian"></use>
                    </svg>
                    <div class="name">图标_可见</div>
                    <div class="fontclass">#icon-tubiao_kejian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_gongnengshijian"></use>
                    </svg>
                    <div class="name">图标_功能事件</div>
                    <div class="fontclass">#icon-tubiao_gongnengshijian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shanchu"></use>
                    </svg>
                    <div class="name">图标_删除</div>
                    <div class="fontclass">#icon-tubiao_shanchu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shanchuziduan"></use>
                    </svg>
                    <div class="name">图标_删除字段</div>
                    <div class="fontclass">#icon-tubiao_shanchuziduan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shangyibu"></use>
                    </svg>
                    <div class="name">图标_上一步</div>
                    <div class="fontclass">#icon-tubiao_shangyibu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shangyi"></use>
                    </svg>
                    <div class="name">图标_上移</div>
                    <div class="fontclass">#icon-tubiao_shangyi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shangsuo"></use>
                    </svg>
                    <div class="name">图标_上锁</div>
                    <div class="fontclass">#icon-tubiao_shangsuo</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shijian"></use>
                    </svg>
                    <div class="name">图标_时间</div>
                    <div class="fontclass">#icon-tubiao_shijian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shijianshezhi"></use>
                    </svg>
                    <div class="name">图标_事件设置</div>
                    <div class="fontclass">#icon-tubiao_shijianshezhi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shouqi"></use>
                    </svg>
                    <div class="name">图标_收起</div>
                    <div class="fontclass">#icon-tubiao_shouqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shujuku"></use>
                    </svg>
                    <div class="name">图标_数据库</div>
                    <div class="fontclass">#icon-tubiao_shujuku</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shuipingdengjianju"></use>
                    </svg>
                    <div class="name">图标_水平等间距</div>
                    <div class="fontclass">#icon-tubiao_shuipingdengjianju</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shuipingjuzhong"></use>
                    </svg>
                    <div class="name">图标_水平居中</div>
                    <div class="fontclass">#icon-tubiao_shuipingjuzhong</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_shunxu"></use>
                    </svg>
                    <div class="name">图标_顺序</div>
                    <div class="fontclass">#icon-tubiao_shunxu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_sousuo"></use>
                    </svg>
                    <div class="name">图标_搜索</div>
                    <div class="fontclass">#icon-tubiao_sousuo</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_tianjiaziduan"></use>
                    </svg>
                    <div class="name">图标_添加字段</div>
                    <div class="fontclass">#icon-tubiao_tianjiaziduan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_xiayibu"></use>
                    </svg>
                    <div class="name">图标_下一步</div>
                    <div class="fontclass">#icon-tubiao_xiayibu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_wodezujian"></use>
                    </svg>
                    <div class="name">图标_我的组件</div>
                    <div class="fontclass">#icon-tubiao_wodezujian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_xinjian"></use>
                    </svg>
                    <div class="name">图标_新建</div>
                    <div class="fontclass">#icon-tubiao_xinjian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_xinbiao"></use>
                    </svg>
                    <div class="name">图标_新表</div>
                    <div class="fontclass">#icon-tubiao_xinbiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_yemian"></use>
                    </svg>
                    <div class="name">图标_页面</div>
                    <div class="fontclass">#icon-tubiao_yemian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_yijiyemian"></use>
                    </svg>
                    <div class="name">图标_一级页面</div>
                    <div class="fontclass">#icon-tubiao_yijiyemian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_yulan"></use>
                    </svg>
                    <div class="name">图标_预览</div>
                    <div class="fontclass">#icon-tubiao_yulan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_youduiqi"></use>
                    </svg>
                    <div class="name">图标_右对齐</div>
                    <div class="fontclass">#icon-tubiao_youduiqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_zhidi"></use>
                    </svg>
                    <div class="name">图标_置底</div>
                    <div class="fontclass">#icon-tubiao_zhidi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_zhongzuo"></use>
                    </svg>
                    <div class="name">图标_重做</div>
                    <div class="fontclass">#icon-tubiao_zhongzuo</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_zhankai"></use>
                    </svg>
                    <div class="name">图标_展开</div>
                    <div class="fontclass">#icon-tubiao_zhankai</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_zhujian"></use>
                    </svg>
                    <div class="name">图标_主键</div>
                    <div class="fontclass">#icon-tubiao_zhujian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_zuhe"></use>
                    </svg>
                    <div class="name">图标_组合</div>
                    <div class="fontclass">#icon-tubiao_zuhe</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_zujian"></use>
                    </svg>
                    <div class="name">图标_组件</div>
                    <div class="fontclass">#icon-tubiao_zujian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_zujianyangshi"></use>
                    </svg>
                    <div class="name">图标_组件样式</div>
                    <div class="fontclass">#icon-tubiao_zujianyangshi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_baocunzujian"></use>
                    </svg>
                    <div class="name">图标_保存组件</div>
                    <div class="fontclass">#icon-tubiao_baocunzujian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_bianji"></use>
                    </svg>
                    <div class="name">图标_编辑</div>
                    <div class="fontclass">#icon-tubiao_bianji</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_biao"></use>
                    </svg>
                    <div class="name">图标_表</div>
                    <div class="fontclass">#icon-tubiao_biao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_yemiantuceng"></use>
                    </svg>
                    <div class="name">图标_页面图层</div>
                    <div class="fontclass">#icon-tubiao_yemiantuceng</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pingmuchicun"></use>
                    </svg>
                    <div class="name">屏幕尺寸</div>
                    <div class="fontclass">#icon-pingmuchicun</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tuceng"></use>
                    </svg>
                    <div class="name">图层</div>
                    <div class="fontclass">#icon-tuceng</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-jiankongrenwu"></use>
                    </svg>
                    <div class="name">监控任务</div>
                    <div class="fontclass">#icon-jiankongrenwu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_tabkuang"></use>
                    </svg>
                    <div class="name">组件_tab框</div>
                    <div class="fontclass">#icon-zujian_tabkuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_bingtu"></use>
                    </svg>
                    <div class="name">组件_饼图</div>
                    <div class="fontclass">#icon-zujian_bingtu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_anniu"></use>
                    </svg>
                    <div class="name">组件_按钮</div>
                    <div class="fontclass">#icon-zujian_anniu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_danxuananniu"></use>
                    </svg>
                    <div class="name">组件_单选按钮</div>
                    <div class="fontclass">#icon-zujian_danxuananniu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_chaolianjie"></use>
                    </svg>
                    <div class="name">组件_超链接</div>
                    <div class="fontclass">#icon-zujian_chaolianjie</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_biaoge"></use>
                    </svg>
                    <div class="name">组件_表格</div>
                    <div class="fontclass">#icon-zujian_biaoge</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_ditu"></use>
                    </svg>
                    <div class="name">组件_地图</div>
                    <div class="fontclass">#icon-zujian_ditu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_fuxuananniu"></use>
                    </svg>
                    <div class="name">组件_复选按钮</div>
                    <div class="fontclass">#icon-zujian_fuxuananniu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_rediantu"></use>
                    </svg>
                    <div class="name">组件_热点图</div>
                    <div class="fontclass">#icon-zujian_rediantu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_leidatu"></use>
                    </svg>
                    <div class="name">组件_雷达图</div>
                    <div class="fontclass">#icon-zujian_leidatu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_guanxitu"></use>
                    </svg>
                    <div class="name">组件_关系图</div>
                    <div class="fontclass">#icon-zujian_guanxitu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_sandiantu"></use>
                    </svg>
                    <div class="name">组件_散点图</div>
                    <div class="fontclass">#icon-zujian_sandiantu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_shijianriqi"></use>
                    </svg>
                    <div class="name">组件_时间日期</div>
                    <div class="fontclass">#icon-zujian_shijianriqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_shuzhuangcaidan"></use>
                    </svg>
                    <div class="name">组件_树状菜单</div>
                    <div class="fontclass">#icon-zujian_shuzhuangcaidan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_wenbenkuang"></use>
                    </svg>
                    <div class="name">组件_文本框</div>
                    <div class="fontclass">#icon-zujian_wenbenkuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_xialaxuan"></use>
                    </svg>
                    <div class="name">组件_下拉选</div>
                    <div class="fontclass">#icon-zujian_xialaxuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_wenzi"></use>
                    </svg>
                    <div class="name">组件_文字</div>
                    <div class="fontclass">#icon-zujian_wenzi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_zhezhaoceng"></use>
                    </svg>
                    <div class="name">组件_遮罩层</div>
                    <div class="fontclass">#icon-zujian_zhezhaoceng</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_tubiao"></use>
                    </svg>
                    <div class="name">组件_图标</div>
                    <div class="fontclass">#icon-zujian_tubiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_zhexiantu"></use>
                    </svg>
                    <div class="name">组件_折线图</div>
                    <div class="fontclass">#icon-zujian_zhexiantu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_divceng"></use>
                    </svg>
                    <div class="name">组件_div层</div>
                    <div class="fontclass">#icon-zujian_divceng</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_zhutu"></use>
                    </svg>
                    <div class="name">组件_柱图</div>
                    <div class="fontclass">#icon-zujian_zhutu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_zuoyoufuzhixuan"></use>
                    </svg>
                    <div class="name">组件_左右赋值选</div>
                    <div class="fontclass">#icon-zujian_zuoyoufuzhixuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-insert"></use>
                    </svg>
                    <div class="name">插入字段</div>
                    <div class="fontclass">#icon-insert</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-moveDown"></use>
                    </svg>
                    <div class="name">下移</div>
                    <div class="fontclass">#icon-moveDown</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_liebiao"></use>
                    </svg>
                    <div class="name">组件_列表</div>
                    <div class="fontclass">#icon-zujian_liebiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_tupian"></use>
                    </svg>
                    <div class="name">组件_图片</div>
                    <div class="fontclass">#icon-zujian_tupian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_bingtu1-copy"></use>
                    </svg>
                    <div class="name">组件_饼图</div>
                    <div class="fontclass">#icon-zujian_bingtu1-copy</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xinwen_"></use>
                    </svg>
                    <div class="name">标题图标2</div>
                    <div class="fontclass">#icon-xinwen_</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zujian_wenben"></use>
                    </svg>
                    <div class="name">文本</div>
                    <div class="fontclass">#icon-zujian_wenben</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_zuoduiqi"></use>
                    </svg>
                    <div class="name">图标_左对齐</div>
                    <div class="fontclass">#icon-tubiao_zuoduiqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_diduiqi-1-copy"></use>
                    </svg>
                    <div class="name">图标_底对齐-50</div>
                    <div class="fontclass">#icon-tubiao_diduiqi-1-copy</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_zhiding"></use>
                    </svg>
                    <div class="name">图标_置顶</div>
                    <div class="fontclass">#icon-tubiao_zhiding</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tubiao_lock"></use>
                    </svg>
                    <div class="name">图标_解锁</div>
                    <div class="fontclass">#icon-tubiao_lock</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shanchu"></use>
                    </svg>
                    <div class="name">删 除</div>
                    <div class="fontclass">#icon-shanchu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-user-copy"></use>
                    </svg>
                    <div class="name">人</div>
                    <div class="fontclass">#icon-user-copy</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-biaoqian-wei"></use>
                    </svg>
                    <div class="name">右侧角标</div>
                    <div class="fontclass">#icon-biaoqian-wei</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-new-xinwen-copy"></use>
                    </svg>
                    <div class="name">标题图标2</div>
                    <div class="fontclass">#icon-new-xinwen-copy</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fabu-weifabu-bg-copy"></use>
                    </svg>
                    <div class="name">右侧角标</div>
                    <div class="fontclass">#icon-fabu-weifabu-bg-copy</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fabu-weifabu-bg-copy-copy"></use>
                    </svg>
                    <div class="name">右侧角标</div>
                    <div class="fontclass">#icon-fabu-weifabu-bg-copy-copy</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bianji-copy"></use>
                    </svg>
                    <div class="name">修改</div>
                    <div class="fontclass">#icon-bianji-copy</div>
                </li>
            
        </ul>


        <h2 id="symbol-">symbol引用</h2>
        <hr>

        <p>这是一种全新的使用方式，应该说这才是未来的主流，也是平台目前推荐的用法。相关介绍可以参考这篇<a href="">文章</a>
        这种用法其实是做了一个svg的集合，与另外两种相比具有如下特点：</p>
        <ul>
          <li>支持多色图标了，不再受单色限制。</li>
          <li>通过一些技巧，支持像字体那样，通过<code>font-size</code>,<code>color</code>来调整样式。</li>
          <li>兼容性较差，支持 ie9+,及现代浏览器。</li>
          <li>浏览器渲染svg的性能一般，还不如png。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-symbol-">第一步：引入项目下面生成的symbol代码：</h3>
        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;script src="./iconfont.js"&gt;&lt;/script&gt;</span></code></pre>
        <h3 id="-css-">第二步：加入通用css代码（引入一次就行）：</h3>
        <pre><code class="lang-js hljs javascript">&lt;style type=<span class="hljs-string">"text/css"</span>&gt;
.icon {
   width: <span class="hljs-number">1</span>em; height: <span class="hljs-number">1</span>em;
   vertical-align: <span class="hljs-number">-0.15</span>em;
   fill: currentColor;
   overflow: hidden;
}
&lt;<span class="hljs-regexp">/style&gt;</span></code></pre>
        <h3 id="-">第三步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-js hljs javascript">&lt;svg <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"icon"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;<span class="xml"><span class="hljs-tag">
  &lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#icon-xxx"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
</span>&lt;<span class="hljs-regexp">/svg&gt;
        </span></code></pre>
    </div>
</body>
</html>
